.botao{
	border: none;
	border-radius: 5px;
	background-color: rgba(0, 0, 255, 1.0);
	font-size: 16px;
	font-family: arial;
	padding: 10px;
	color: white;
	font-weight: 700;
}

.botao:hover{
	background-color: rgba(0, 0, 255, .5);
	border-color: rgba(0, 0, 255, 1.0);
}
